.lista-cliente-container{
   display: flex;
   flex: 1;
   justify-content: center;

}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    width: 80%;
    border: none;
    box-shadow:5px 5px 5px 5px;
    border-radius: 3px;
    height: 30rem;
   
}

.titulo-lista-cliente h1{
    color: rgb(255,255,255);
    padding-top:1rem;
}

.lista-clientes{
    width: 90%;
    margin: 35px 3%;
    display: flex;
    justify-content: center;
}

.lista-clientes table{
    color: rgb(255,255,255);
    text-align: center;
    width: 100%;
    
}

.tabela-titulo{
    text-transform: uppercase;
    font-weight: bold;
    background: dimgray;
}

.lista-clientes  td{
    border: 1px solid rgb(255,255,255);
    padding: 0.2rem 0;
   
}

.icon-apagar{
    cursor: pointer;
    color:red;
    font-size:1.5rem;
}